<html>
 <head>
 <title> Дамп базы данных </title>
  <link rel="stylesheet" href="table_style.css">
  {% macro render_table(table_name, relation) %}
     <div class="style_table">
    <p>
     <b>{{table_name}} </b>
    </p>
    <!-- количество строк в таблице -->
    {% set n = len(relation) %}

    <table>
     <!-- формируем заголовок таблицы (имена столбцов) -->
     <tr>
     {% for name in relation.dtypes.index %}
     <th>{{name}}</th>
     {% endfor %}
     </tr>

    <tbody>
    <!-- для всех строк таблицы -->
    {% for i in range(n) %}
    <tr>
    <!-- выводим значение каждого столбца -->
    {% for name in relation.dtypes.index %}
    <td> {{ relation.loc[i, name] }} </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>

    </table>
    </div>
  {% endmacro %}
 </head>
<body>

{{ render_table(table_1, relation_1) }}
{{ render_table(table_2, relation_2) }}
{{ render_table(table_3, relation_3) }}
{{ render_table(table_4, relation_4) }}
{{ render_table(table_5, relation_5) }}
{{ render_table(table_6, relation_6) }}
{{ render_table(table_7, relation_7) }}

</body>
</html>
