<html>
<head>
 <title> Карточка читателя </title>
 <link rel="stylesheet" href="table_style.css">
 {% macro render_table(table_name, relation) %}
     <div class="style_table">
    <p>
     <b>{{table_name}} </b>
    </p>
    <!-- количество строк в таблице -->
    {% set n = len(relation) %}

    <table>
     <!-- формируем заголовок таблицы (имена столбцов) -->
     <tr>
     {% for name in relation.dtypes.index %}
     <th>{{name}}</th>
     {% endfor %}
     </tr>

    <tbody>
    <!-- для всех строк таблицы -->
    {% for i in range(n) %}
    <tr>
    <!-- выводим значение каждого столбца -->
    {% for name in relation.dtypes.index %}
        <td>
            {% if relation.loc[i, name] is none %}
                <button>Сдать</button>
            {% else %}
                {{ relation.loc[i, name] }}
            {% endif %}
        </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </tbody>

    </table>
    </div>
  {% endmacro %}

    {% macro render_field(reader_id, combo_box) %}
        <p>
         <form>
         Читатель:
         <!-- Создаем поле со списком -->
         <select name="reader">
         {% set n = len(combo_box) %}
         <!-- формируем строки списка (каждое значение поля
         reader_name - строка списка) в виде
         <option [selected] value = код_читателя> ФИО </option>
         -->
         {% for i in range(n) %}
         {% set id_r = combo_box.loc[i, "reader_id"] %}
         <!-- атрибут value элемента будет совпадать с id читателя -->
         {% if id_r == reader_id %}
         <!-- если код читателя из таблицы совпадает с кодом
         текущего читателя устанавливаем атрибут selected -->
         <option selected value={{id_r}}>
         {% else %}
         <option value={{id_r}}>
         {% endif %}
         {{ combo_box.loc[i, "reader_name"] }}
         </option>
         {% endfor %}
         </select>

         <input type="submit" value="Найти">
         </form>
        </p>
    {% endmacro %}
</head>
<body>
 {{ render_field(reader_id, combo_box) }}
 {{ render_table("Карточка", book_reader) }}
</body>
</html>